@charset "UTF-8";

table, th, td {
  /* border: 1px solid; */
  text-align: center
}
table {
	min-width: 300px;
	border-collapse: collapse;
}
table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

table tbody tr:hover {
	background: gainsboro;
}